body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1610px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:769px;
  height:546px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:53px;
  width:769px;
  height:546px;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:538px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:36px;
  width:750px;
  height:538px;
  color:#FFFFFF;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:769px;
  height:63px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:53px;
  width:769px;
  height:63px;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:50px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:62px;
  width:64px;
  height:50px;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:62px;
  width:125px;
  height:50px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:50px;
  background-color:#199ED8;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:62px;
  width:207px;
  height:50px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:50px;
  background-color:#199ED8;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:37px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:827px;
  top:65px;
  width:54px;
  height:37px;
  font-size:20px;
  color:#FFFFFF;
}
#u27_img.mouseDown {
}
#u27.mouseDown {
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:50px;
  word-wrap:break-word;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:122px;
  width:68px;
  height:25px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#199ED8;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:2px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:134px;
  width:657px;
  height:1px;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:81px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:134px;
  width:1px;
  height:80px;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:2px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:134px;
  width:10px;
  height:1px;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:81px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:876px;
  top:134px;
  width:1px;
  height:80px;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:147px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:144px;
  width:144px;
  height:25px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u35_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:184px;
  width:93px;
  height:19px;
  font-size:16px;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:181px;
  width:129px;
  height:25px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u37_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:184px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:181px;
  width:145px;
  height:25px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:737px;
  height:2px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:213px;
  width:736px;
  height:1px;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:698px;
  top:173px;
  width:56px;
  height:30px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:227px;
  width:110px;
  height:25px;
}
#u41_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#199ED8;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u42_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:623px;
  height:2px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:239px;
  width:622px;
  height:1px;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:329px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:239px;
  width:1px;
  height:328px;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:2px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:239px;
  width:10px;
  height:1px;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:252px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:252px;
  width:117px;
  height:25px;
}
#u46_input {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u47_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:253px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:252px;
  width:120px;
  height:25px;
}
#u48_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u49_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:255px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:641px;
  top:252px;
  width:120px;
  height:25px;
}
#u50_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u51_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:288px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:287px;
  width:117px;
  height:25px;
}
#u52_input {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u53_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:290px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:287px;
  width:120px;
  height:25px;
}
#u54_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u55_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:737px;
  height:2px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:566px;
  width:736px;
  height:1px;
}
#u55_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:329px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:876px;
  top:239px;
  width:1px;
  height:328px;
}
#u56_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:321px;
  width:110px;
  height:25px;
}
#u57_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#199ED8;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:623px;
  height:2px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:333px;
  width:622px;
  height:1px;
}
#u58_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:2px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:333px;
  width:14px;
  height:1px;
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:662px;
  top:147px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:356px;
  width:707px;
  height:166px;
}
#u61_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:166px;
  overflow:auto;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:356px;
  width:695px;
  height:152px;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
  font-size:14px;
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:101px;
  height:30px;
  font-size:14px;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:97px;
  word-wrap:break-word;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:0px;
  width:147px;
  height:30px;
  font-size:14px;
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:143px;
  word-wrap:break-word;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:0px;
  width:111px;
  height:30px;
  font-size:14px;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:107px;
  word-wrap:break-word;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:0px;
  width:117px;
  height:30px;
  font-size:14px;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:113px;
  word-wrap:break-word;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:0px;
  width:111px;
  height:30px;
  font-size:14px;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:107px;
  word-wrap:break-word;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:0px;
  width:88px;
  height:30px;
  font-size:14px;
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:84px;
  word-wrap:break-word;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:34px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:20px;
  height:34px;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:34px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:30px;
  width:101px;
  height:34px;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:34px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:30px;
  width:147px;
  height:34px;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:143px;
  word-wrap:break-word;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:34px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:30px;
  width:111px;
  height:34px;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:34px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:30px;
  width:117px;
  height:34px;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:113px;
  word-wrap:break-word;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:34px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:30px;
  width:111px;
  height:34px;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:30px;
  width:88px;
  height:34px;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:31px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:20px;
  height:31px;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:64px;
  width:101px;
  height:31px;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:31px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:64px;
  width:147px;
  height:31px;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:143px;
  word-wrap:break-word;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:31px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:64px;
  width:111px;
  height:31px;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:107px;
  word-wrap:break-word;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:31px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:64px;
  width:117px;
  height:31px;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:113px;
  word-wrap:break-word;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:31px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:64px;
  width:111px;
  height:31px;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:107px;
  word-wrap:break-word;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:31px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:64px;
  width:88px;
  height:31px;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:29px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:95px;
  width:20px;
  height:29px;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:29px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:95px;
  width:101px;
  height:29px;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:29px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:95px;
  width:147px;
  height:29px;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:29px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:95px;
  width:111px;
  height:29px;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:29px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:95px;
  width:117px;
  height:29px;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:29px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:95px;
  width:111px;
  height:29px;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:29px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:95px;
  width:88px;
  height:29px;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:28px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:124px;
  width:20px;
  height:28px;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:28px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:124px;
  width:101px;
  height:28px;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:28px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:124px;
  width:147px;
  height:28px;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:28px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:124px;
  width:111px;
  height:28px;
}
#u94_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:28px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:124px;
  width:117px;
  height:28px;
}
#u95_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:28px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:124px;
  width:111px;
  height:28px;
}
#u96_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:28px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:124px;
  width:88px;
  height:28px;
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:529px;
  width:73px;
  height:35px;
}
#u98_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:396px;
  width:14px;
  height:16px;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:427px;
  width:14px;
  height:16px;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:529px;
  width:89px;
  height:35px;
}
#u101_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:529px;
  width:93px;
  height:35px;
}
#u102_input {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:529px;
  width:108px;
  height:35px;
}
#u103_input {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:147px;
  width:55px;
  height:19px;
  font-size:16px;
}
#u104_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:146px;
  width:129px;
  height:25px;
}
#u105_input {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:773px;
  top:173px;
  width:56px;
  height:30px;
}
#u106_input {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:698px;
  top:293px;
  width:56px;
  height:30px;
}
#u107_input {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:773px;
  top:293px;
  width:56px;
  height:30px;
}
#u108_input {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u109_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-10px;
  width:127px;
  height:22px;
}
#u109p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-1px;
  width:122px;
  height:4px;
}
#u109p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:4px;
}
#u109p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:4px;
  height:4px;
}
#u109p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u109p002 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:-11px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u109p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:187px;
  width:116px;
  height:2px;
  font-size:12px;
}
#u109_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:114px;
  width:147px;
  height:158px;
}
#u110_input {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:158px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#9933CC;
  text-align:left;
}
#u111_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-10px;
  width:329px;
  height:22px;
}
#u111p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-1px;
  width:324px;
  height:4px;
}
#u111p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:4px;
}
#u111p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:4px;
  height:4px;
}
#u111p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u111p002 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:-11px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u111p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:309px;
  width:318px;
  height:2px;
  font-size:12px;
}
#u111_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:26px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:323px;
  width:2px;
  height:23px;
}
#u112_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-10px;
  width:237px;
  height:22px;
}
#u113p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:230px;
  height:6px;
}
#u113p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:6px;
}
#u113p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:4px;
  height:4px;
}
#u113p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u113p002 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:-10px;
  width:24px;
  height:22px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u113p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:344px;
  width:226px;
  height:2px;
  font-size:12px;
}
#u113_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:952px;
  top:323px;
  width:147px;
  height:107px;
}
#u114_input {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:107px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#9933CC;
  text-align:left;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:1147px;
  top:280px;
  width:199px;
  height:117px;
}
#u115_input {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:117px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#9933CC;
  text-align:left;
}
#u116_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:148px;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:28px;
  width:2px;
  height:145px;
}
#u116_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-10px;
  width:230px;
  height:22px;
}
#u117p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:224px;
  height:6px;
}
#u117p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:6px;
}
#u117p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:4px;
  height:4px;
}
#u117p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u117p002 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:-10px;
  width:24px;
  height:22px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u117p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:28px;
  width:219px;
  height:2px;
  font-size:12px;
}
#u117_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:933px;
  top:17px;
  width:236px;
  height:53px;
}
#u118_input {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:53px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#9933CC;
  text-align:left;
}
#u119_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:34px;
  height:5px;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:366px;
  width:31px;
  height:2px;
}
#u119_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:85px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:367px;
  width:2px;
  height:82px;
}
#u120_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:85px;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:367px;
  width:2px;
  height:82px;
}
#u121_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:34px;
  height:5px;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:447px;
  width:31px;
  height:2px;
}
#u122_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:59px;
  height:5px;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:404px;
  width:56px;
  height:2px;
}
#u123_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:148px;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:404px;
  width:2px;
  height:145px;
}
#u124_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-10px;
  width:157px;
  height:22px;
}
#u125p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-1px;
  width:152px;
  height:4px;
}
#u125p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:4px;
}
#u125p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:4px;
  height:4px;
}
#u125p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u125p002 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:-11px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u125p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:547px;
  width:146px;
  height:2px;
  font-size:12px;
}
#u125_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-1px;
  width:22px;
  height:115px;
}
#u126p000 {
  border-width:0px;
  position:absolute;
  left:-53px;
  top:50px;
  width:108px;
  height:4px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u126p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:4px;
}
#u126p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-2px;
  width:4px;
  height:4px;
}
#u126p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u126p002 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:86px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u126p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:564px;
  width:2px;
  height:104px;
}
#u126_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:668px;
  width:158px;
  height:168px;
}
#u127_input {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:168px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#9933CC;
  text-align:left;
}
#u128_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-1px;
  width:22px;
  height:115px;
}
#u128p000 {
  border-width:0px;
  position:absolute;
  left:-53px;
  top:50px;
  width:108px;
  height:4px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u128p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:4px;
}
#u128p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-2px;
  width:4px;
  height:4px;
}
#u128p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u128p002 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:86px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u128p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:564px;
  width:2px;
  height:104px;
}
#u128_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:668px;
  width:147px;
  height:70px;
}
#u129_input {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:70px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#9933CC;
  text-align:left;
}
#u130_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-1px;
  width:22px;
  height:213px;
}
#u130p000 {
  border-width:0px;
  position:absolute;
  left:-102px;
  top:98px;
  width:206px;
  height:6px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u130p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:6px;
}
#u130p001 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:4px;
  height:4px;
}
#u130p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u130p002 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:184px;
  width:26px;
  height:24px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u130p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:24px;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:564px;
  width:2px;
  height:202px;
}
#u130_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:766px;
  width:147px;
  height:70px;
}
#u131_input {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:70px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#9933CC;
  text-align:left;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:87px;
  width:300px;
  height:25px;
}
#u132_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#669966;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:145px;
  width:41px;
  height:25px;
}
#u133_input {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:952px;
  top:430px;
  width:300px;
  height:25px;
}
#u134_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#669966;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u135_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-10px;
  width:539px;
  height:22px;
}
#u135p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:534px;
  height:6px;
}
#u135p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:534px;
  height:6px;
}
#u135p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:4px;
  height:4px;
}
#u135p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u135p002 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:-10px;
  width:24px;
  height:22px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u135p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:883px;
  top:80px;
  width:528px;
  height:2px;
  font-size:12px;
}
#u135_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:1411px;
  top:41px;
  width:199px;
  height:61px;
}
#u136_input {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:61px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#9933CC;
  text-align:left;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:846px;
  width:300px;
  height:25px;
}
#u137_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#669966;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:871px;
  width:300px;
  height:25px;
}
#u138_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#669966;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:896px;
  width:300px;
  height:25px;
}
#u139_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#669966;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
